@mixin coloreSfondo($chiaro:true) {
    @if $chiaro {
        background-color: $sfondochiaro;
        color: $testoscuro;
    } @else {
        background-color: $sfondoscuro;
        color: $testochiaro;
    }
}